@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&family=Poppins:wght@300;400&family=Source+Serif+Pro:wght@300;400&display=swap');


body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height:200%;
    overflow-x:hidden;
   /* overflow-y: hidden;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {width: 100%;}

.nav-container {
    background-color: #161616;

    a{
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: white;
        font-weight: bold;
        font-family: 'Poppins';
    }

    ul {
        display: flex;
        a {
            /*Isso é para o espaçamento entre as palavras do menu darem certo*/
            display: block; 
            padding: 0 1em;
        }
    }
}
