@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&family=Poppins:wght@300;400&family=Source+Serif+Pro:wght@300;400&display=swap');


body {
    height: 90vh;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    line-height: 170%;
    overflow-x:hidden;
   /* overflow-y: hidden;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

span {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-position: under;
}

.nav-container {
    background-color: #161616;
    a{
        color: white;
    }
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: white;
        font-weight: bold;
        font-family: 'Poppins';
        font-size: large;
        padding-left: 3.8em;
    }

    ul {
        display: flex;
        padding-right: 2em;
        a {
            /*Isso é para o espaçamento entre as palavras do menu darem certo*/
            display: block; 
            padding: 0 1em;
        }
    }
}

/*-----CABEÇALHO TERMINA AQUI-----*/

h1 {
    margin-top: 2em;
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-size: 2.3em;
    font-weight: 100;
}
.wrapper {
    text-align: center;
    margin-top: 3em;
    min-height: 60vh;
  /*  background-color: red; */
 
}
.dbl-field{

    .field{
        input{
            width: 200px;
            height: 30px; 
            border-color: #B7B7B7;  
            border-style: solid;
            border-width: 0.1em;
            
        }
        input::placeholder {
            font-family: 'Poppins', sans-serif;
            color: #B7B7B7;
            padding: 1em;
        }

        input:focus {
            box-shadow: 0 0 0 0;
            outline: 0;
        }
    }
    .message {
        textarea {
            height: 150px;
            width: 415px;
            margin: 2.5em;
            border-color: #B7B7B7;
        }
        textarea::placeholder {
            font-family: 'Poppins', sans-serif;
            color: #B7B7B7;
            padding: 1em;
        }
        textarea:focus{
            box-shadow: 0 0 0 0;
            outline: 0;
        }
    }  
}

.button-area{
    display: flex;
    margin-left: 2em;

    .submit-button{
        height: 40px;
        width: 200px;
        background-color: #161616;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        color: white;
        border: none;
    }
}





    

  
