@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&family=Poppins:wght@300;400&family=Source+Serif+Pro:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 170%;
  overflow-x: hidden;
  background-color: #FCFCFC;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

li a {
  text-decoration: none;
  position: relative;
}

li .hover-effect::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.2px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

li .hover-effect:hover::after {
  -webkit-transform: scaleX(0.68);
          transform: scaleX(0.68);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.nav-container {
  position: relative;
  background-color: #161616;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: white;
  font-weight: bold;
  font-family: 'Poppins';
  font-size: large;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  /*Isso é para o espaçamento entre as palavras do menu darem certo*/
  display: block;
  padding: 0 1em;
}

header ul .sub-menu {
  display: none;
}

header ul .resume:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: relative;
}

.sub-menu ul {
  position: absolute;
  display: block;
  background-color: #161616;
}

.sub-menu ul li {
  margin-top: 10px;
  margin-bottom: 12px;
}

.sub-menu ul li a {
  color: white;
  left: 0;
  top: 100%;
}

.sub-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.2px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.sub-menu ul li a:hover::after {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  color: white;
}

/*Isso é para não aparecer os links de midia social e arte de quadrados em aparelhos mobile*/
.social-header, .hero-design {
  display: none;
}

.hero {
  background: #0E0E0E;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.hero h3 {
  font-family: 'Cinzel', serif;
  letter-spacing: 3px;
}

.hero h1 {
  font-family: 'Cinzel', serif;
}

.hero h1 span {
  color: #D46782;
}

.hero .meet {
  margin: 0 auto;
  width: 200px;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.hero .meet p {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  text-align: center;
  color: #D46782;
}

.hero .meet p:hover {
  color: #E3476E;
}

.hero img {
  /*margin-top: 3.4em;
        margin-left: -3em;*/
  width: 1em;
  height: 1em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

section .arrowRight {
  display: none;
}

.featured-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #161616;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-description {
  color: #252525;
  margin-bottom: 3em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.view-case-study {
  text-transform: uppercase;
  color: #252525;
  font-size: .9em;
  line-height: 5em;
  font-weight: 500;
}

/*-----------FOOTER BEGGINS---------*/
.footer {
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  background-color: #0E0E0E;
  margin-top: 10em;
  font-family: 'Poppins', sans-serif;
  color: #FCFCFC;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 15px;
}

.social-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins';
  padding-top: 5px;
}

.social-links li {
  margin: 0 25px;
}

.footer-bottom {
  font-weight: 100;
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    z-index: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 81% auto;
        grid-template-columns: 81% auto;
    background: unset;
  }
  .nav-container header {
    background: #161616;
  }
  .nav-container header .logo {
    padding-left: 2em;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
    /* img {
                width: 20px;
            }*/
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 81% auto;
        grid-template-columns: 81% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #0E0E0E;
    padding: 2.5em 8em 6em 6em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero .meet {
    padding-top: 2em;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    /*margin: unset;*/
  }
  .hero img {
    margin-top: 3.4em;
    margin-left: -3em;
    width: 2.5%;
    height: 2.5%;
  }
  .hero-design {
    display: unset;
    margin-left: -77.5%;
    margin-top: 17%;
    width: 150%;
  }
  .left {
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin-left: 5em;
    margin-top: 0.5em;
  }
  .left .featured-title {
    padding-top: 5em;
    padding-left: 2em;
  }
  .left .featured-description {
    margin-top: 3em;
    padding-left: 2em;
    width: 20em;
  }
  .left .view-case-study {
    margin-top: 4em;
    padding-left: 2em;
  }
  .left .arrowRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10em;
    margin-top: -2.8em;
    width: 1.2em;
    height: 1.2em;
  }
  .right {
    margin-left: 2em;
    margin-top: 3em;
  }
}

@media only screen and (min-width: 800px) {
  .featured {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% auto;
        grid-template-columns: 35% auto;
  }
  .left {
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin-left: 5em;
    margin-top: 0.5em;
  }
  .left .arrowRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10em;
    margin-top: -2.8em;
    width: 1.2em;
    height: 1.2em;
  }
  .left .featured-title {
    padding-top: 2em;
    padding-left: 2em;
  }
  .left .featured-description {
    margin-top: 2em;
    padding-left: 2em;
    width: 18em;
    font-size: 80%;
  }
  .left .view-case-study {
    padding-bottom: 10em;
    padding-left: 2em;
  }
  .right {
    margin-left: 2em;
    margin-top: 3em;
  }
}

/*
@media only screen and (min-width: 1250px) {
    .rectangle {
        margin-top: 1.8em;
        margin-left: 7.3em;
        width:350px;
        height:485px;
        background:#F8F8F8;
        .featured-title {
            padding-top: 5em;
            padding-left: 2em;
        }
        .featured-description {
            margin-top: 3em;
            padding-left: 2em;
            width: 20em;
        }
        .view-case-study {
            margin-top: 4em;
            padding-left: 2em; 
        }
    }
}*/
/*# sourceMappingURL=main.css.map */