@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&family=Poppins:wght@300;400&family=Source+Serif+Pro:wght@300;400&display=swap');


body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height:200%;
    overflow-x:hidden;
   /* overflow-y: hidden;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {width: 100%;}

.nav-container {
    background-color: #161616;

    a{
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: white;
        font-weight: bold;
        font-family: 'Poppins';
    }

    ul {
        display: flex;
        a {
            /*Isso é para o espaçamento entre as palavras do menu darem certo*/
            display: block; 
            padding: 0 1em;
        }
    }
}

/*Isso é para não aparecer os links de midia social e arte de quadrados em aparelhos mobile*/
.social-header, .hero-design {
    display: none;
}

.hero {
    background: #0E0E0E;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
 
    h3 {
        font-family: 'Cinzel', serif;
        letter-spacing:3px;
    }
    h1 {
        font-family: 'Cinzel', serif;
    }
    h1 span {
        color: #FF83C6;
    }
    .meet {
        margin: 0 auto;
        width: 200px;
        display: grid;
        text-align: center;
    
        p {
            font-family: 'Cinzel', serif;
            font-weight: bold;
            text-align: center;
            color: #F68DC6; 
        }
    }

    img {
        /*margin-top: 3.4em;
        margin-left: -3em;*/
        width: 1em;
        height: 1em;
    }
}
section {
    padding: 4em 2em;
    text-align: center;

    .arrowRight {
        display: none;
    }
}
.featured-title {
    text-transform: uppercase;
    font-weight: bold;
    color:#161616;
    letter-spacing: .2em;
    font-size: .85em;
}
.featured-description {
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}
.view-case-study {
    text-transform: uppercase;
    color: #252525;
    font-size: .9em;
    line-height: 5em;
    font-weight: 500;
}



@media only screen and (min-width: 1050px) {
    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 81% auto; 
        background: unset;
       
        header{
            background: #161616;

            .logo{
                padding-left: 2em;
            }
        }
    }

    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header{
        padding: 2em 4em 2em 0;
    }
    .social-header {
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
            
           /* img {
                width: 20px;
            }*/
        } 
    }

    .hero {
        display: grid;
        grid-template-columns: 81% auto; 
        background: unset;
        padding: 0;

        .content {
            background: #0E0E0E;
            padding: 2.5em 8em 6em 6em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
        .meet {
            padding-top: 2em;
            float: left;
            display: flex;
            text-align: center;
            /*margin: unset;*/  
        }
        img {
            margin-top: 3.4em;
            margin-left: -3em;
            width: 2.5%;
            height: 2.5%;
        }
    }
        .hero-design {
            display: unset;
            margin-left: -77.5%;
            margin-top: 17%;
            width: 150%;
        }

        .left {
            display: grid;
            place-content: center;
            margin-left: 7em;
            margin-top: 3em;
            background: #F8F8F8;
            width: 17em;
            padding-left: 2em;
            padding-right: 2em;
            height: 30.5em;
            
            .arrowRight {
                display: flex;
                margin-left: 10em;
                margin-top: -2.8em;
                width: 1.2em;
                height: 1.2em;
            }
        }
        .right {
            margin-left: 2em;
            margin-top: 3em;
            
        }
}

@media only screen and (min-width: 800px) {
    
    .featured {
        text-align: left;
        display: grid;
        grid-template-columns: 35% auto;
    }
    .left {
        display: grid;
        place-content: center;
        margin-left: 7em;
        margin-top: 3em;
        
        .featured-description {
            font-size: -100px;
            width: 15em;
            
        }
        .view-case-study {
            margin-top: 0em;
        }

        .arrowRight {
            display: flex;
            margin-left: 10em;
            margin-top: -2.8em;
            width: 1.2em;
            height: 1.2em;
        }
    }
    .right {
        margin-left: 2em;
        margin-top: 3em;
        
    }

}
