@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&family=Poppins:wght@300;400&family=Source+Serif+Pro:wght@300;400&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 170%;
  overflow-x: hidden;
  background-color: #FCFCFC;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  position: relative;
}

li .hover-effect::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.2px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

li .hover-effect:hover::after {
  -webkit-transform: scaleX(0.68);
          transform: scaleX(0.68);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.current-page {
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 5.5px;
}

.nav-container {
  background-color: #161616;
  position: relative;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: white;
  font-weight: bold;
  font-family: 'Poppins';
  font-size: large;
  text-decoration: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  /*Isso é para o espaçamento entre as palavras do menu darem certo*/
  display: block;
  padding: 0 1em;
}

header ul .sub-menu {
  display: none;
}

header ul .resume:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: relative;
}

.sub-menu ul {
  position: absolute;
  display: block;
  background-color: #161616;
}

.sub-menu ul li {
  margin-top: 10px;
  margin-bottom: 12px;
}

.sub-menu ul li a {
  color: white;
  left: 0;
  top: 100%;
}

.sub-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.2px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.sub-menu ul li a:hover::after {
  -webkit-transform: scaleX(0.8);
          transform: scaleX(0.8);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  color: white;
}

.wrapper-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 700px;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 4em;
}

.wrapper-content .content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-content .content p {
  font-size: 14px;
}

.wrapper-content .content .button-area {
  position: relative;
  margin-left: 0em;
  padding-top: 6em;
}

.wrapper-content .content .button-area .button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 40px;
  width: 200px;
  background-color: #161616;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: white;
  border: none;
  -webkit-box-shadow: 1.9px 1.9px 1.1px -16px rgba(0, 0, 0, 0.014), 5.1px 5.4px 3px -16px rgba(0, 0, 0, 0.02), 12.4px 13px 7.2px -16px rgba(0, 0, 0, 0.026), 41px 43px 24px -16px rgba(0, 0, 0, 0.04);
          box-shadow: 1.9px 1.9px 1.1px -16px rgba(0, 0, 0, 0.014), 5.1px 5.4px 3px -16px rgba(0, 0, 0, 0.02), 12.4px 13px 7.2px -16px rgba(0, 0, 0, 0.026), 41px 43px 24px -16px rgba(0, 0, 0, 0.04);
}

.wrapper-content .content .button-area .button a {
  text-decoration: none;
  color: white;
}

.wrapper-content .content .button-area .button:hover {
  background-color: #252525;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  background-color: #0E0E0E;
  margin-top: 35em;
  font-family: 'Poppins', sans-serif;
  color: #FCFCFC;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 15px;
}

.social-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins';
}

.social-links li {
  margin: 0 25px;
}

.footer-bottom {
  font-weight: 100;
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

@media only screen and (min-width: 1050px) {
  header .logo {
    padding-left: 2em;
  }
}

@media only screen and (min-width: 1600px) {
  footer {
    bottom: 0;
  }
}

@media only screen and (min-width: 1863px) {
  footer {
    bottom: 0;
  }
}

@media only screen and (min-height: 100px) and (min-width: 100px) and (max-width: 700px) {
  .wrapper-content {
    padding-top: 1em;
    padding-bottom: 10em;
    position: relative;
  }
}
/*# sourceMappingURL=temporary.css.map */